[Unit]
Description=OpenNebula Prometheus Exporter
After=network-online.target
Wants=network-online.target
StartLimitInterval=60
StartLimitBurst=3

[Service]
User=oneadmin
Group=oneadmin
Type=simple
Restart=on-failure
RestartSec=5

ExecStart=/usr/bin/ruby /usr/lib/one/opennebula_exporter/opennebula_exporter.rb

[Install]
WantedBy=multi-user.target
